@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Fredoka:wght@400;600&family=Inter:wght@300;400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-kids: "Comic Neue", cursive;
  --font-elegant: "Playfair Display", serif;
  --font-festive: "Fredoka", sans-serif;
  --font-minimalist: "Inter", sans-serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
